@charset "UTF-8";

body { background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
   

h1{
    color: mediumaquamarine;
    background-color: rgb(68, 137, 197);
}
h2{
    color: crimson;
}

p{
    text-align: justify;
}